---
layout: page
title: Categories
---

<article class="article-panel">
  <div class="header-panel">
    <h4 class="grand-title">Categories</h4>
    <hr>
  </div>
  <div class="categories-panel pdt-0">
    <ul class="catgories-list">
      {% for category in site.categories %}
      <li><a href="/categories.html#{{ category[0] }}-ref"><i class="fa fa-tags"></i>&nbsp;{{ category[0] | join: "/" }}&nbsp;<span class="badge">{{ category[1].size }}</span></a></li>
      {% endfor %}
    </ul>
  </div> <!-- categories panel end -->
  {% for category in site.categories %}
  <div class="categories-panel">
    <h4 class="categories-title" id="{{ category[0] }}-ref"><i class="fa fa-tags"></i>&nbsp;{{ category[0] | join: "/" }}</h4>
    <ul class="article-list">
      {% for node in category[1] %}
      <li>
        <a href="{{ node.url }}">{{ node.title }}</a>
        <p>{{ node.date | date: "%B %e, %Y" }}</p>
      </li>
      {% endfor %}
    </ul>
  </div> <!-- categories panel end -->
  {% endfor %}

</article>
