---
layout: default
title: Trường TX Blog
---

<!-- hero unit -->
<!-- for desktop, tablet -->
<div class="hero-unit hidden-phone">
  <div class="row-fluid">
	<div class="span3">
	  <img class="img-circle" width="200px" src="/files/index/id.jpg"/>
	</div>
	<div class="span9">
	  <h1 id="unicode-item">Trường TX blog</h1>
	  <p>A blog by IT guy and for the IT guys</p>
	  <p><a class="btn btn-primary btn-large" href="/about.html">About me</a></p>
	</div>
  </div>
</div>
<!-- for phone -->
<div class="hero-unit visible-phone" style="padding:20px;">
  <p><img class="img-circle" width="200px" src="/files/index/id.jpg"/></p>
  <h2 id="unicode-item">Trường TX blog</h2>
  <p>A blog by IT guy and for the IT guys</p>
  <p><a class="btn btn-primary btn-large" href="/about.html">About me</a></p>
</div>

<!-- body of index file -->
<div class="row">

  <!-- pagination section -->
  <div class="span8">
	{% for post in paginator.posts %}

	<!-- here add you post markup -->
	<!-- post title -->
	<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	<!-- post + author infor -->
	<p class="author">
	  <span class="date" style="color:darkgreen">Posted
		{{post.date | date: "%d %B %Y"}} by
		<a href="mailto:{{site.author.email}}">
		  {{site.author.name}}
		</a>
		in category
		<a href="/categories.html#{{ post.category }}-ref">
		  {{ post.category }}
		</a>
	  </span>
	</p>

	<!-- if allow show thumbnail -->
	{% if post.showtn %}
	<!-- <div class="row-fluid"> -->
	<!--   <div class="span3 hidden-phone"> -->
	<!-- 	<\!-- post thumbnail -\-> -->
	<!-- 	{% if post.thumbnail %} -->
	<!-- 	<img class="img-circle" src="{{ post.thumbnail }}" style="width: 175px;"/> -->
	<!-- 	{% else %} -->
	<!-- 	<img src="/files/thumbnails/no_thumbnail.png" -->
	<!-- 		 class="img-circle" style="width: 175px;" /> -->
	<!-- 	{% endif %} -->
	<!--   </div> -->
	<!--   <div class="span9"> -->
	{% endif %}
	
		<!-- post content -->
		<div class="post-content-truncate">
		  {% if post.content contains "<!-- more -->" %}
		  	{{ post.content | split:"<!-- more -->" | first % }}
		  {% else %}
		  	{{ post.content | strip_html | truncatewords:100 }}
		  {% endif %}
		</div>

		<!-- read more button -->
		<div>
		  <a href="{{ post.url }}">Read more...</a>
		</div>

	<!-- if allow show thumbnail -->
	{% if post.showtn %}
	  <!-- </div> -->
	<!-- </div> -->
	{% endif %}
	
	<br/>
	<hr/>
	{% endfor %}

	<!-- Pagination links -->
	<div class="pagination pagination-centered pagination-large">
	  <ul>
		<!-- first page link -->
		{% if paginator.previous_page %}
		<li>
		  <a href="/index.html">&laquo;&laquo;</a>
		</li>
		{% else %}
		<li class="disabled">
		  <a href="#">&laquo;&laquo;</a>
		</li>
		{% endif %}

		<!-- previous page link -->
		{% if paginator.previous_page %}
		<li>
		  <a href="/page{{paginator.previous_page}}">&laquo;</a>
		</li>
		{% else %}
		<li class="disabled">
		  <a href="#">&laquo;</a>
		</li>
		{% endif %}

		<!-- current page -->
		<li class="active">
		  <span class="page_number ">Page: {{paginator.page}} of
			{{paginator.total_pages}}</span>
		</li>

		<!-- next page link -->
		{% if paginator.next_page %}
		<li>
		  <a href="/page{{paginator.next_page}}">&raquo;</a>
		</li>
		{% else %}
		<li class="disabled">
		  <a href="#">&raquo;</a>
		</li>
		{% endif %}

		<!-- last page link -->
		{% if paginator.next_page %}
		<li>
		  <a href="/page{{ paginator.total_pages }}">&raquo;&raquo;</a>
		</li>
		{% else %}
		<li class="disabled">
		  <a href="#">&raquo;&raquo;</a>
		</li>
		{% endif %}
      </ul>
	</div>
	
  </div>

  <!-- sidebar section -->
  <div class="span4">
	<!-- barcode -->
	<div>
	  <img src="/files/index/barcode.png"/>
	</div>

	<!-- social sharing buttons -->
	{% include sidebar/social_share_buttons %}
	
	<!-- contact me -->
	{% include sidebar/contact_me %}
	
	<!-- categories list -->
	{% include sidebar/categories_list %}

	<!-- recent post -->
	{% include sidebar/recent_posts_list %}

	<!-- tag cloud -->
	{% include sidebar/tag_cloud %}
	
  </div>
</div>

