---
layout: default
title: Trường TX Blog
---

<!-- post preview -->
{% for post in paginator.posts %}

<div class="row">
  <div class="col-md-12">

	<div class="panel panel-default">
	  <div class="panel-heading">
		<!-- title -->
		<h1 style="margin-top:10px;margin-bottom:10px;"><a href="{{ post.url }}">{{ post.title }}</a></h1>

		<!-- post info -->
		<p class="post-info">
		  <i class="fa fa-calendar"></i>
		  <span class="date" style="color:darkgreen">
			{{post.date | date: "%d %B %Y"}}
		  </span>
		  &nbsp; &nbsp; &nbsp;
		  <i class="fa fa-folder-o"></i> 
		  <a href="/categories.html#{{ post.category }}-ref" style="color:darkgreen">
			{{ post.category }}
		  </a>
		</p>
	  </div>
	  <div class="panel-body">
		<!-- post content -->
		<div class="post-content-truncate">
		  {% if post.content contains "<!-- more -->" %}
		  {{ post.content | split:"<!-- more -->" | first % }}
		  {% else %}
		  {{ post.content | strip_html | truncatewords:100 }}
		  {% endif %}
		</div>
		<!-- read more button -->
		<div>
		  <a href="{{ post.url }}">Read more...</a>
		</div>
	  </div>
	</div>
  </div>
</div>

{% endfor %}

<!-- pagination section -->
<div style="text-align:center;">
  <ul class="pagination pagination-lg">
	<!-- first page link -->
	{% if paginator.previous_page %}
	<li>
	  <a href="/index.html">&laquo;&laquo;</a>
	</li>
	{% else %}
	<li class="disabled">
	  <a href="#">&laquo;&laquo;</a>
	</li>
	{% endif %}

	<!-- previous page link -->
	{% if paginator.previous_page %}
	<li>
	  <a href="/page{{paginator.previous_page}}">&laquo;</a>
	</li>
	{% else %}
	<li class="disabled">
	  <a href="#">&laquo;</a>
	</li>
	{% endif %}

	<!-- current page -->
	<li class="active">
	  <span class="page_number ">Page: {{paginator.page}} of
		{{paginator.total_pages}}</span>
	</li>

	<!-- next page link -->
	{% if paginator.next_page %}
	<li>
	  <a href="/page{{paginator.next_page}}">&raquo;</a>
	</li>
	{% else %}
	<li class="disabled">
	  <a href="#">&raquo;</a>
	</li>
	{% endif %}

	<!-- last page link -->
	{% if paginator.next_page %}
	<li>
	  <a href="/page{{ paginator.total_pages }}">&raquo;&raquo;</a>
	</li>
	{% else %}
	<li class="disabled">
	  <a href="#">&raquo;&raquo;</a>
	</li>
	{% endif %}
  </ul>
</div>
