---
layout: default
title: Trường TX Blog
---

<!-- hero unit -->
<div class="hero-unit">
  <h1 id="unicode-item">Trường TX blog</h1>
  <p>A blog by IT guy and for the IT guys</p>
  <p><a class="btn btn-primary btn-large" href="/about.html">About me</a></p>
</div>

<!-- body of index file -->
<div class="row">

  <!-- pagination section -->
  <div class="span8">
	{% for post in paginator.posts %}

	<!-- here add you post markup -->
	<!-- post title -->
	<h1><a href="{{ post.url }}" class="index-post-title">{{ post.title }}</a></h1>
	<!-- post + author infor -->
	<p class="author">
	  <span class="date" style="color:darkgreen">Posted
		{{post.date | date: "%d %B %Y"}} by
		<a href="mailto:{{site.author.email}}">
		  {{site.author.name}}
		</a>
		in category
		<a href="/categories.html#{{ post.category }}-ref">
		  {{ post.category }}
		</a>
	  </span>
	</p>
	<!-- post content -->
	<div>
	  {{ post.content | strip_html | truncatewords:100 }}
	</div>

	<!-- read more button -->
	<div>
	  <a href="{{ post.url }}">Read more...</a>
	</div>
	<br/>

	<!-- share button -->
	<!-- facebook share -->
	<div>
	  <div class="fb-like" data-href="http://tommytxtruong.github.com{{ post.url }}"
		   data-send="false" data-layout="button_count" data-width="450"
		   data-show-faces="false"></div>
	</div>
	
	<hr/>
	{% endfor %}

	<!-- Pagination links -->
	<div class="pagination pagination-centered">
	  <ul>
		<!-- first page link -->
		{% if paginator.previous_page %}
		<li>
		  <a href="/index.html">&laquo;&laquo;</a>
		</li>
		{% else %}
		<li class="disabled">
		  <a href="#">&laquo;&laquo;</a>
		</li>
		{% endif %}

		<!-- previous page link -->
		{% if paginator.previous_page %}
		<li>
		  <a href="/page{{paginator.previous_page}}">&laquo;</a>
		</li>
		{% else %}
		<li class="disabled">
		  <a href="#">&laquo;</a>
		</li>
		{% endif %}

		<!-- current page -->
		<li class="active">
		  <span class="page_number ">Page: {{paginator.page}} of
			{{paginator.total_pages}}</span>
		</li>

		<!-- next page link -->
		{% if paginator.next_page %}
		<li>
		  <a href="/page{{paginator.next_page}}">&raquo;</a>
		</li>
		{% else %}
		<li class="disabled">
		  <a href="#">&raquo;</a>
		</li>
		{% endif %}

		<!-- last page link -->
		{% if paginator.next_page %}
		<li>
		  <a href="/page{{ paginator.total_pages }}">&raquo;&raquo;</a>
		</li>
		{% else %}
		<li class="disabled">
		  <a href="#">&raquo;&raquo;</a>
		</li>
		{% endif %}
      </ul>
	</div>
	
  </div>

  <!-- sidebar section -->
  <div class="span4">
	Sidebar being implemented
  </div>
</div>

