/* CORE
   ========================================================================== */

// body
html,
body{
	color: $text-color;
}
body{
	@include flex-display;
	@include flex-flow(column nowrap);
	height: 100%;
	// background-color: #E6E7E8;
	background: $white;
}
.container{
	width: 100%;
	max-width: 1024px;
}
.body-container,
.footer-container{
	@extend .container-fluid;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
.body-container{
	@include flex(1);
	padding-top: $padding-large-horizontal;
	padding-bottom: $padding-large-horizontal;
	border-top: 6px solid $brand-primary;
}
