<div class="page-header">
  <h1>{{ page.title }}<br /><small><!-- Supporting tagline --></small></h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
		{% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
		{% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
		{% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
		{% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
		{% else %}
        <li class="next disabled"><a>Next &rarr;</a>
		  {% endif %}
      </ul>
    </div>
    <hr>
  </div>
  
  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
	<hr />

	{% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
	{% endunless %}  
	<hr />

	<h4>Social Sharing</h4>
	<!-- facebook -->
	<div class="fb-like" data-send="false" data-width="450" data-show-faces="true"></div>

	<!-- google + -->
	<!-- Place this tag where you want the +1 button to render. -->
	<div class="g-plusone" data-size="tall" data-annotation="inline" data-width="300"></div>
	<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
	  (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>

	<!-- twitter -->
	<a href="https://twitter.com/share" class="twitter-share-button"
	   data-via="tommytxtruong">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<a href="https://twitter.com/tommytxtruong" class="twitter-follow-button"
	   data-show-count="false">Follow @tommytxtruong</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	<!-- linkedin -->
	<div>
	  <script src="//platform.linkedin.com/in.js" type="text/javascript">
		lang: en_US
	  </script>
	  <script type="IN/Share" data-counter="right"></script>
	</div>

	<hr/>

	<!-- social -->
	<h4>Contact me</h4>
	<div>
	  <a href="https://twitter.com/tommytxtruong" target="_blank">
		<img src="/files/index/twitter.png" />
	  </a>&nbsp;
	  <a href="http://facebook.com/mr.truong.tx" target="_blank">
		<img src="/files/index/facebook.png" />
	  </a>&nbsp;
	  <a href="http://www.linkedin.com/pub/tran-xuan-truong/67/2b/a65" target="_blank">
		<img src="/files/index/linkedin.png" />
	  </a>&nbsp;
	  <a href="mailto:tommy.txtruong@gmail.com" target="_blank">
		<img src="/files/index/email.png" />
	  </a>&nbsp;
	  <a href="skype:tommy.txtruong?chat">
		<img src="/files/index/skype.png" />
	  </a>&nbsp;
	  <a href="https://github.com/tommytxtruong">
		<img src="/files/index/github.png" />
	  </a>&nbsp;
	</div>
	<hr/>

	<h4>Related Posts</h4>
	<ul>
	  {% for post in site.related_posts limit:5 %}
	  <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	<hr />

	<h4>Recent Posts</h4>
	<ul>
	  {% for post in site.posts limit:5 %}
	  <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>	

  </div>
</div>

<div class="row">
  <div class="span8">
	{% include JB/comments %}
  </div>
  <div class="span4">

  </div>
</div>
